<div class="menu">
  <div class="menu-user">
    <div class="profile-head">
      <div class="profile-head__id">
        <img class="profile-head__avatar"
             src="<%= current_user.avatar_url %>"
             alt="<%= current_user.avatar_alt %>"
        >
        <div>
          <div class="profile-head__name"><%= current_user.name %></div>
          <div class="profile-head__mail"><%= current_user.email %></div>
        </div>
      </div>
      <div class="top-menu__item">
        <div class="profile-head__options top-menu__label">
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <ul class="top-menu-sub">
          <li class="top-menu-sub__item">Profile</li>
          <li class="top-menu-sub__item">Settings</li>
          <li class="top-menu-sub__item">
            <%= link_to 'Sign out',
                        destroy_user_session_path,
                        data: { turbo_method: :delete },
                        class: 'top-menu-sub__link'
            %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <div class="menu-main">
      <a href="<%= packages_path %>">
        <div class="menu__item <%= 'active' if matches_current_page? packages_path %>">
          <div>
            <i class="menu__icon fas fa-inbox"></i>
            <span class="menu__label">Packages</span>
          </div>
          <span class="menu-main__pill pill"><%= current_user.recipients.unopened.size %></span>
        </div>
      </a>

      <a href="<%= sent_packages_path %>">
        <div class="menu__item <%= 'active' if matches_current_page? sent_packages_path %>">
          <div>
            <i class="menu__icon fas fa-paper-plane"></i>
            <span class="menu__label">Sent Packages</span>
          </div>
          <span class="menu-main__pill pill"><%= current_user.sent_packages.size %></span>
        </div>
      </a>
      <div class="menu__item">
        <div>
          <i class="menu__icon fas fa-pencil-alt"></i>
          <span class="menu__label">Drafts</span>
        </div>
        <span class="menu-main__pill pill">2</span>
      </div>
      <div class="menu__item">
        <div>
          <i class="menu__icon fas fa-trash-alt"></i>
          <span class="menu__label">Spam</span>
        </div>
        <span class="menu-main__pill pill">290</span>
      </div>
    </div>

    <ul class="menu-tags">
      <li class="menu-tags__item">
        <span class="dot dot--pink"></span><span
        class="menu-tags__label">Shopping</span> </li>
      <li class="menu-tags__item"> <span class="dot dot--red"></span> <span
        class="menu-tags__label">Important</span> </li>
      <li class="menu-tags__item"> <span class="dot dot--blue"></span> <span
        class="menu-tags__label">Work</span> </li>
      <li class="menu-tags__item"> <span class="dot dot--green"></span> <span
        class="menu-tags__label">Done</span> </li>
      <li class="menu-tags__item"> <span class="dot dot--yellow"></span> <span
        class="menu-tags__label">To-Do</span> </li>
      <li class="menu-tags__item"> <span class="dot dot--purple"></span> <span
        class="menu-tags__label">Personal</span> </li>
    </ul>
  </div>

  <div class="new">
    <button class="new__button new-mail__toggle">
      <i class="fas fa-plus"></i>
    </button>
    <div class="new-mail">
      <div class="new-mail__top">
        <div class="new-mail__title">
          <span>Send a new package from</span>
          <span class="user-email"><%= current_user.email %></span>
        </div>
        <i class="new-mail__close new-mail__toggle fas fa-times"></i>
      </div>

      <% resource = @resource || Package.new %>
      <%= form_for resource do |f| %>
        <%= render 'partials/error_messages', resource: %>
        <div class="new-mail-exp">
          <div class="new-mail-exp__item">
            <%= f.label :recipients, class: 'new-mail-exp__label' %>
            <%= f.text_field :recipients,
                             value: '',
                             placeholder: 'Enter recipient email (separate multiple emails with comma)',
                             class: 'new-mail-exp__input',
                             required: true
            %>
          </div>
          <div class="new-mail-exp__item">
            <%= f.label :title, class: 'new-mail-exp__label' %>
            <%= f.text_field :title,
                             placeholder: 'Enter package title',
                             class: 'new-mail-exp__input'
            %>
          </div>
        </div>
        <div class="new-mail__content">
          <%= f.text_area :body,
                          placeholder: 'Enter package body',
                          class: 'new-mail__message',
                          required: true
          %>
        </div>
        <div class="new-mail-foot">
          <div class="new-mail-foot__insert">
            <i class="new-mail-foot__icon far fa-file-archive"></i>
            <i class="new-mail-foot__icon far fa-image"></i>
            <i class="new-mail-foot__icon fas fa-paperclip"></i>
          </div>
          <div class="new-mail-foot__actions">
            <button class="button new-mail__toggle">Cancel</button>
            <button class="button button--primary" title="Send Package">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
