<div class="menu">
  <div class="menu-user">
    <div class="profile-head">
      <div class="profile-head__id">
        <img class="profile-head__avatar"
             src="<%= current_user.avatar_url %>"
             alt="<%= current_user.avatar_alt %>"
        >
        <div>
          <div class="profile-head__name"><%= current_user.name %></div>
          <div class="profile-head__mail"><%= current_user.email %></div>
        </div>
      </div>
      <div class="top-menu__item">
        <div class="profile-head__options top-menu__label">
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <ul class="top-menu-sub">
          <li class="top-menu-sub__item">Profile</li>
          <li class="top-menu-sub__item">Settings</li>
          <li class="top-menu-sub__item">
            <%= link_to 'Sign out',
                        destroy_user_session_path,
                        data: { turbo_method: :delete },
                        class: 'top-menu-sub__link'
            %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <div class="menu-main">
      <a href="<%= packages_path %>">
        <div class="menu__item <%= 'active' if matches_current_page? packages_path %>">
          <div>
            <i class="menu__icon fas fa-inbox"></i>
            <span class="menu__label">Packages</span>
          </div>
          <span class="menu-main__pill pill"><%= current_user.recipients.unopened.size %></span>
        </div>
      </a>

      <a href="<%= sent_packages_path %>">
        <div class="menu__item <%= 'active' if matches_current_page? sent_packages_path %>">
          <div>
            <i class="menu__icon fas fa-paper-plane"></i>
            <span class="menu__label">Sent Packages</span>
          </div>
          <span class="menu-main__pill pill"><%= current_user.sent_packages.size %></span>
        </div>
      </a>
      <div class="menu__item">
        <div>
          <i class="menu__icon fas fa-pencil-alt"></i>
          <span class="menu__label">Drafts</span>
        </div>
        <span class="menu-main__pill pill">2</span>
      </div>
      <div class="menu__item">
        <div>
          <i class="menu__icon fas fa-trash-alt"></i>
          <span class="menu__label">Spam</span>
        </div>
        <span class="menu-main__pill pill">290</span>
      </div>
    </div>

    <ul class="menu-tags">
      <li class="menu-tags__item">
        <span class="dot dot--pink"></span><span
        class="menu-tags__label">Shopping</span> </li>
      <li class="menu-tags__item"> <span class="dot dot--red"></span> <span
        class="menu-tags__label">Important</span> </li>
      <li class="menu-tags__item"> <span class="dot dot--blue"></span> <span
        class="menu-tags__label">Work</span> </li>
      <li class="menu-tags__item"> <span class="dot dot--green"></span> <span
        class="menu-tags__label">Done</span> </li>
      <li class="menu-tags__item"> <span class="dot dot--yellow"></span> <span
        class="menu-tags__label">To-Do</span> </li>
      <li class="menu-tags__item"> <span class="dot dot--purple"></span> <span
        class="menu-tags__label">Personal</span> </li>
    </ul>
  </div>

  <div class="new">
    <button class="new__button new-mail__toggle">
      <i class="fas fa-plus"></i>
    </button>
    <div class="new-mail">
      <div class="new-mail__top">
        <div class="new-mail__title"> <span>Write a new mail from</span>
          <div class="select"> <select class="select__item" name="">
            <option value="">jeanclaude@gmail.com</option>
            <option value="">him@gmail.com</option>
          </select> <i class="select__arrow fas fa-sort-down"></i> </div>
        </div> <i class="new-mail__close new-mail__toggle fas fa-times"></i>
      </div>
      <div class="new-mail-exp">
        <div class="new-mail-exp__item">
          <div class="new-mail-exp__label">To</div> <input placeholder="Enter email" type="text"
                                                           class="new-mail-exp__input">
        </div>
        <div class="new-mail-exp__item">
          <div class="new-mail-exp__label">Object</div> <input placeholder="Enter mail object"
                                                               type="text" class="new-mail-exp__input">
        </div>
      </div>
      <div class="new-mail__content"> <textarea
        class="new-mail__message">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur eveniet corrupti deserunt ad cum inventore error architecto voluptatum temporibus eligendi asperiores placeat explicabo, consequatur molestias. Corrupti voluptatem commodi dicta dolorum.</textarea>
      </div>
      <div class="new-mail-foot">
        <div class="new-mail-foot__insert"> <i class="new-mail-foot__icon far fa-file-archive"></i>
          <i class="new-mail-foot__icon far fa-image"></i> <i
          class="new-mail-foot__icon fas fa-paperclip"></i> </div>
        <div class="new-mail-foot__actions"> <button class="button new-mail__toggle">Cancel</button>
          <button class="button button--primary"> <i class="fas fa-paper-plane"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
