<% content_for :title, 'Signup' %>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<%= form_with model: @user, url: signup_path do |form| %>
    <h3>Signup here</h3>

    <%= render 'partials/validation_errors', errors: @user.errors if @user.errors.any? %>

    <%= form.label :name, 'Full name' %>
    <%= form.text_field :name, placeholder: 'Enter full name', required: true, autofocus: true %>

    <%= form.label :email %>
    <%= form.email_field :email, placeholder: 'Enter email address', required: true %>

    <%= form.label :password %>
    <%= form.password_field :password, placeholder: 'Enter password', required: true %>

    <%= form.label :password_confirmation, 'Confirm Password' %>
    <%= form.password_field :password_confirmation, placeholder: 'Confirm password', required: true %>

    <%= form.submit 'Signup', class: 'submit' %>

    <div class="social">
        <div class="go">
            <i class="fab fa-google"></i>
            Google
        </div>
        <div class="fb">
            <i class="fab fa-facebook"></i>
            Facebook
        </div>
    </div>
<% end %>
