<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      <%= ("#{yield(:title)} | " if content_for?(:title)).to_s + Rails.application.config.app_name %>
    </title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "global", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "shared", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag yield(:stylesheet).presence || "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :scripts %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
